body {
    margin: 0;
    font-family: Arial;
}

/* NAVBAR */
.navbar {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* BANNER */
.banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* ROOMS */
.rooms {
    text-align: center;
    padding: 40px;
}

.room-card {
    display: inline-block;
    width: 300px;
    margin: 20px;
    background: white;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.room-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.room-card button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.modal-content {
    background: white;
    width: 350px;
    margin: 8% auto;
    padding: 20px;
    position: relative;
}

.modal-content input,
.modal-content select,
.modal-content textarea,
.modal-content button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-size: 20px;
}

/* FACILITIES */
.facilities {
    text-align: center;
    padding: 40px;
    background: #f4f4f4;
}

.facility-images img {
    width: 300px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
}

.hidden {
    display: none;
}



/* LOGIN PAGE */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-card {
    background: white;
    padding: 30px;
    width: 300px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    text-align: center;
}

.login-card input {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}

.login-card button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #007BFF;
    color: white;
    border: none;
}

/* DASHBOARD */
.dashboard {
    padding: 40px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    flex: 1;
    background: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.approved { background: #d4edda; }
.pending { background: #f8d7da; }

.chart-box {
    width: 300px;
    margin-bottom: 30px;
}

#search {
    padding: 8px;
    width: 300px;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background: #111;
    color: white;
}

button {
    padding: 5px 10px;
    margin: 2px;
}